@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --foreground-rgb: 0, 0, 0;
    --background-start-rgb: 214, 219, 220;
    --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
    :root {
        --foreground-rgb: 255, 255, 255;
        --background-start-rgb: 0, 0, 0;
        --background-end-rgb: 0, 0, 0;
    }
}

body {
    color: rgb(var(--foreground-rgb));
    background: linear-gradient(to bottom,
            transparent,
            rgb(var(--background-end-rgb))) rgb(var(--background-start-rgb));
}

.image-profile {
    max-width: 200px;
    max-height: 200px;
    padding-left: 8px;
    padding-right: 8px;
}

.title {
    font-size: 3.5rem
}

.menu {
    padding: 48px 60px 24px 24px;
}

.content {
    position: absolute;
    z-index: 1;
    padding-left: 8px;
    padding-right: 8px;
    padding-top: 8px;
    left: 0;
    top: 0;
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: 100%;
}

.social-media-link {
    height: fit-content;
    width: 300px;
    display: flex;
    justify-content: space-between;
}

.navigation-menu {
    display: flex;
    justify-content: flex-end;
}

.menu-container {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    height: 100%;
    width: fit-content;
}

.tooltip-container {
    position: relative;
    display: inline-block;
}

.tooltip {
    visibility: hidden;
    width: 100px;
    background-color: #ffffff;
    color: #333;
    text-align: center;
    border-radius: 6px;
    padding: 5px;
    position: absolute;
    z-index: 5;
    bottom: 150%;
    left: 50%;
    margin-left: -50px;
    opacity: 0;
    transition: opacity 0.4s;
}

.tooltip:after {
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -10px;
    border-width: 10px;
    border-style: solid;
    border-color: #fff transparent transparent transparent;
}


.tooltip-container:hover .tooltip {
    visibility: visible;
    opacity: 1;
}

.cv-button {
    display: flex;
    justify-content: center;
    padding: 12px;
    border: #fff solid 1px;
    border-radius: 16px;
    width: 156px;
    background: linear-gradient(175deg, rgba(53, 48, 129, 1) 0%, rgba(13, 13, 191, 1) 27%, rgba(0, 212, 255, 1) 91%);
}

.cv-button:hover {
    transform: scale(1.1);
    background: linear-gradient(175deg, rgba(13, 13, 191, 1) 0%, rgba(53, 48, 129, 1) 27%, rgba(0, 212, 255, 1) 91%);
}

.information-container {
    padding-top: 20px;
}

.information-item {
    position: relative;
    overflow: hidden;
}

.information-item:hover .image-caption {
    opacity: 1;
}

.image-caption {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(0, 0, 0, 0.6);
    color: #fff;
    padding: 10px;
    text-align: center;
    opacity: 0;
    transition: opacity 0.3s ease;
}

.navigation-arrows {
    display: flex;
    width: 100%;
    justify-content: space-between;
    margin-top: 20px;
    margin-bottom: 20px;
}

.dots {
    display: flex;
    justify-content: space-evenly;
    width: 100%;
    margin-top: 20px;
    
  }
  
  .dot {
    width: 10px;
    height: 10px;
    margin: 0 5px; 
    border-radius: 50%;
    background-color: white;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  .dot.active {
    background-color: #4484eb;
  }

.particle-container .particle {
    position: absolute;
    height: 5px;
    width: 5px;
    border-radius: 50%;
    background: radial-gradient(rgb(196, 188, 123) 40%, rgb(209, 181, 58), rgb(220, 147, 13), rgb(204, 80, 22));
    box-shadow: 3px 5px 10px rgba(255, 255, 255, 0.514);

}

.particle-container .particle:nth-child(1) {
    top: 12%;
    left: 42%;
    animation: particle-motion 4s linear infinite;
}

.particle-container .particle:nth-child(2) {
    top: 70%;
    left: 50%;
    animation: particle-motion 7s linear infinite;
}

.particle-container .particle:nth-child(3) {
    top: 17%;
    left: 6%;
    animation: particle-motion 9s linear infinite;
}

.particle-container .particle:nth-child(4) {
    top: 20%;
    left: 60%;
    animation: particle-motion 10s linear infinite;
}

.particle-container .particle:nth-child(5) {
    top: 67%;
    left: 10%;
    animation: particle-motion 6s linear infinite;
}

.particle-container .particle:nth-child(6) {
    top: 80%;
    left: 70%;
    animation: particle-motion 11s linear infinite;
}

.particle-container .particle:nth-child(7) {
    top: 60%;
    left: 73%;
    animation: particle-motion 6s linear infinite;
}

.particle-container .particle:nth-child(8) {
    top: 32%;
    left: 25%;
    animation: particle-motion 6s linear infinite;
}

.particle-container .particle:nth-child(9) {
    top: 90%;
    left: 25%;
    animation: particle-motion 9s linear infinite;
}

.particle-container .particle:nth-child(10) {
    top: 10%;
    left: 80%;
    animation: particle-motion 5s linear infinite;
}

.particle-container .particle:nth-child(11) {
    top: 24%;
    left: 82%;
    animation: particle-motion 10s linear infinite;
}

.particle-container .particle:nth-child(12) {
    top: 97%;
    left: 5%;
    animation: particle-motion 7s linear infinite;
}

.particle-container .particle:nth-child(13) {
    top: 97%;
    left: 34%;
    animation: particle-motion 9s linear infinite;
}

.particle-container .particle:nth-child(14) {
    top: 30%;
    left: 40%;
    animation: particle-motion 5s linear infinite;
}

.particle-container .particle:nth-child(15) {
    top: 38%;
    left: 55%;
    animation: particle-motion 7s linear infinite;
}

.particle-container .particle:nth-child(16) {
    top: 35%;
    left: 90%;
    animation: particle-motion 8s linear infinite;
}

.particle-container .particle:nth-child(17) {
    top: 31%;
    left: 46%;
    animation: particle-motion 10s linear infinite;
}

.particle-container .particle:nth-child(18) {
    top: 23%;
    left: 15%;
    animation: particle-motion 4s linear infinite;
}

.particle-container .particle:nth-child(19) {
    top: 90%;
    left: 90%;
    animation: particle-motion 3s linear infinite;
}

.particle-container .particle:nth-child(20) {
    top: 50%;
    left: 25%;
    animation: particle-motion 7s linear infinite;
}

@keyframes particle-motion {
    0% {
        transform: translate(0);
        opacity: 1;
    }

    20% {
        transform: translate(5px -20px);
        opacity: 0.8;
    }

    40% {
        transform: translate(-6px, -30px);
        opacity: 0.7;
    }

    60% {
        transform: translate(8px, -40px);
        opacity: 0.5;
    }

    80% {
        transform: translate(-10px, -60px);
        opacity: 0.2;
    }

    100% {
        transform: translate(5px, -100px);
        opacity: 0;
    }
}